<tr>
    <td>{{this.foodName}}</td>
    <td>{{this.days}}</td>
    <td>{{this.expireString}}</td>
    {{!-- <td>{{this.updatedAt}}</td> --}}
    <td data-id="{{this.id}}">
        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
        <a class="delete" title="Delete" data-toggle="tooltip" ><i class="material-icons">&#xE872;</i></a>
    </td>
</tr>
